//- This is a Jade comment and it wont render in the output. Learn Jade:
//- http://webapplog.com/jade/
//- http://codepen.io/pixelass/post/let-us-jade-1
//- http://codepen.io/pixelass/post/let-us-jade-2-explaining-the-syntax
//- http://codepen.io/pixelass/post/let-us-jade-3-interpolation-and-javascript
//- http://codepen.io/pixelass/post/let-us-jade-4-mixins-on-steroids

DOCTYPE html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

    // This 'block' is used to access Title and Meta Descriptions on unique pages
    block seo
  
    link(href="#{config.serif}", rel="stylesheet", type="text\+/css")
    link(href="#{config.sans}", rel="stylesheet", type="text/css")
    link(rel='stylesheet', type='text/css', href='style.css')

    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    //- script(src='js/global.js')
      
    include ../inc/favicons

        
  body(class= page)
    
    block content
            
    footer.footer
      - var today = new Date();
      - var year = today.getFullYear();
      
      p
        | Copyright &#169; #{year} #{config.sitename} 
        a(href="", target="_blank") Privacy 
        |  | 
        a(href="", target="_blank") Site Map

    include ../inc/scripts
