// Applied to all comments
.comment,
.comment .link,
.comment .http,
.comment .hyperlink,
.punctuation.definition.comment,
.punctuation.definition.comment.html,
.punctuation.section.comment.haml,
.string.comment.buffered.block.jade  {
  .color(@comment-color, @comment-value);
  color: @color;
  font-style: @comment-fontstyle;
  font-weight: normal;
  // text-decoration: underline;
}


// .double-slash selects double-slash in LESS, Stylus, JS and PHP
.double-slash {
  //.test();
}


// shows up along the comment class, but is not styled
.block {}
