// Applied to all comments
.syntax--comment,
.syntax--comment .syntax--link,
.syntax--comment .syntax--http,
.syntax--comment .syntax--hyperlink,
.syntax--punctuation.syntax--definition.syntax--comment,
.syntax--punctuation.syntax--definition.syntax--comment.syntax--html,
.syntax--punctuation.syntax--section.syntax--comment.syntax--haml,
.syntax--string.syntax--comment.syntax--buffered.syntax--block.syntax--jade  {
  .color(@comment-color, @comment-value);
  color: @color;
  font-style: @comment-fontstyle;
  font-weight: normal;
  // text-decoration: underline;
}


// .double-slash selects double-slash in LESS, Stylus, JS and PHP
.double-slash {
  //.test();
}


// shows up along the comment class, but is not styled
.block {}
