// .control
//   JS - if, else, return, import, export, case, break
//   PHP - if, else, return, import, export, case, break
.control {
  //.test();
  color: @control-color;
  font-style: @control-style;
  font-weight: @control-weight;
}




// .keyword selects
//   CSS - %, em, px, rem
//   SCSS - @return @if !default, all @ based keywords
//   stylus - if, to, from, =, px, rem, return, unless ?=, +, @media
//   JS - new, !, !!, import, return, +, :, typeof, switch, case, etc
//   PHP - switch, case, if, return, else, ->, endif, while, endwhile
//
.keyword {
  // this is a bit greedy, i'm not going to style this
  //.test();
  // color: @keyword-color;
  // font-style: @keyword-style;
  // font-weight: @keyword-weight;
}

// I removed this from my config-schema
// storging it here if I ever need it
//
// "keyword": {
//   "order": 10,
//   "type": "object",
//   "title": "Keyword",
//   "properties": {
//     "color": {
//       "order": 1,
//       "title": "Set text color",
//       "type": "color",
//       "default": "rgba(51, 51, 51, 1)"
//     },
//     "fontStyle": {
//       "order": 2,
//       "title": "Font style",
//       "type": "string",
//       "enum": ["normal", "italic"],
//       "default": "normal"
//     },
//     "weight": {
//       "order": 3,
//       "title": "Font weight",
//       "type": "string",
//       "enum": ["normal", "bold"],
//       "default": "normal"
//     }
//   }
// },
