// https://discuss.atom.io/t/block-cursor-possible/3222
// https://atom.io/packages/block-cursor
// https://discuss.atom.io/t/how-to-stop-the-blinking-of-cursor/22790/4


// Pacman Cursor
.cursor {
  font-size: inherit;

  // if
  & when (@cursor-style = pacman) {

    border: 0;
    left: 0!important;
    border-left-width: 0!important;
    // blink cursor
    opacity: 1!important;

    // !
    // Adding this will cause the colors in pigment package to
    // be missaligned. So don't put position: relative on .cursor {}

    position: relative;

    &::after {

      content: '';
      border-radius: 50%;
      border-top: calc(1em * .7px) solid @cursor-color;
      border-right: calc(1em * .7px) solid transparent;
      border-bottom: calc(1em * .7px) solid @cursor-color;
      border-left: calc(1em * .7px) solid @cursor-color;
      box-shadow: -1px 1px 0 @cursor-shadow;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 1;
    }

    &::before {
      background-color: @cursor-color;
      border-radius: 50%;
      content: '';
      height: calc(2em * .7px);
      width: calc(2em * .7px);
      position: absolute;
      z-index: -1;
      opacity: 0;
      will-change: opacity;
      animation: fade 0.3s steps(1) infinite;
    }
  }


  // Block cursor
  & when (@cursor-style = block) {
		border: none;
    background-color: @cursor-color;
  }
}


// Bar cursor
// atom-text-editor::shadow .cursor {
atom-text-editor.editor .cursor {
  & when (@cursor-style = bar) {
    border-color: @cursor-color;
    border-left-width: 2px;
  }
}


// Another setting for the pacman cursor
// atom-text-editor::shadow .is-focused .cursors .cursor {
atom-text-editor.editor .is-focused .cursors .cursor {
  & when (@cursor-style = pacman) {
    opacity: 1;
    left: 1px;
  }
}


@keyframes fade {
  50% {
    opacity: 1;
  }
}
