// .class selects
//   CSS - classes
//   Less - classes
//   SCSS - classes
//   Stylus - classes
//   HTML - src="", stuff between script tag
//   Jade - classes
//   JS - classes
//   JSON - none
//   MD - snippets inside ``` ``` blocks
//   PHP - classes
//   Vue - none
//   YAML - none

.class,
.entity.other.inherited-class.scala{
  //.test();
  color: darken(@class-color, 25);
  font-style: @class-fontstyle;
  font-weight: @class-weight;
}

.constructor.js {
  // .test();
  //color: spin(@class-color, 180);
  // font-style: @class-fontstyle;
  // font-weight: @class-weight;
}


// .function selects
//   JS - function name and keyword but not it's content
//   SCSS - same
//   stylus - same
//   PHP same
.function.name,
.function.go,
.entity.global.clojure {
  //.test();
  color: @functionname-color;
  font-style: @functionname-fontstyle;
  font-weight: @functionname-weight;
}

// Methods in js
.support.function {
  //.test();
}


// .parameters selects a functions params
//   JS - (), (params)
//   SCSS - ","
.parameters {
  //.test();
  //I'm going to let storage handle this
}


// .function-call selects the function call  blah(1, 3);
.function-call {
  //.test();
}


// .method-call selects the whole method call
.method-call,
.meta.symbol.clojure {
  //.test();
  // color: @method-color;
  // font-style: @method-fontstyle;
  // font-weight: @method-weight;
}


// .arguments selcts the arguments of a function call
.arguments {
  //.test();
  //im going to let storage handle this
}


// .constructor selects constructors in JS
.function.name.constructor {
  //.test();
  color: @constructor-color;
  font-style: @constructor-fontstyle;
  font-weight: @constructor-weight;
}


// .instance selects new Error, new RegEx in JS
.instance {
  //.test();
  color: @instance-color;
  font-style: @instance-fontstyle;
  font-weight: @instance-weight;
}
