// line number -
// cursor line
// folded

.line-number {
  padding-right: 1rem;

  &.cursor-line {

    & when (@gutter-punk = hellyeah) {
      background-color: @selectedline-backgroundguttercolor;
    }

    color: @selectedline-backgroundcolor;
    position: relative;


    & when (@gutter-punk = hellyeah) {
      // PUNK GUTTER > Triangle indicator
      &:after {
        border-color: @selectedline-backgroundcolor @selectedline-backgroundcolor @selectedline-backgroundcolor @selectedline-backgroundguttercolor;
        content: "";
        height: 1px;
        border-width: .75em; //1rem
        border-style: solid;
        position: absolute;
        transform: translate(5px, 0px);
      }
    }
  }

  &.folded {
    //background-color: @yellow;
    color: @folded-codecolor;

    .icon-right::before {
      // Move icon above gutter triangle
      z-index: 100;
    }
  }

  &:after {
    //. test();
  }
}


.fold-marker:after {
  color: @folded-codecolor;
  font-size: 2rem;
  line-height: 0;
  vertical-align: middle;
}

// .gutter .line-number.folded .icon-right::before, .gutter:hover .line-number.folded .icon-right::before
