
.line-number {
  padding: 0 1rem;

  &.cursor-line {
    background-color: @charcoal;
    color: @linenos-selection;
    position: relative;

    // PUNK GUTTER > Triangle indicator
    &:after {
      border-color: @linenos-selection @linenos-selection @linenos-selection @charcoal;
      content: "";
      height: 1px;
      border-width: .75em; //1rem
      border-style: solid;
      position: absolute;
      right: 0; //-12px
      top: 0;
    }
  }

  &.folded {
    color: @magenta;
  }

  &:after {
    // background-color: yellow;
    // color: cyan;
  }
}

.fold-marker:after {
  color: @magenta;
}
