// .decimal selects numbers in JS
.decimal {
  //.test();
  color: @number-color;
  font-style: @number-fontstyle;
  font-weight: @number-weight;
}


// null
.null {
  //.test();
  color: @number-color;
  font-style: @number-fontstyle;
  font-weight: @number-weight;
}


// .numeric selects numbers and in some cases units too
.constant.numeric,
.constant.numeric.css {
  //.test();
  color: @number-color;
  font-style: @number-fontstyle;
  font-weight: @number-weight;
}
