// .basic selects HTML only
//   CSS - none
//   Less - none
//   SCSS - none
//   Stylus - none
//   HTML - All html code
//   Jade - none
//   JS - none
//   JSON - none
//   MD - none
//   PHP - none
//   Vue - none
//   YAML - none

.basic {
  // .test();
}





// .any selects full HTML tags <></>
.any {
  // .test();
}

// Selects Doctype
.tag.doctype.html,
.comment.doctype.jade,
.doctype.sugarml {
  //.test();
  color: @doctype-color;
  font-style: @doctype-fontstyle;
  font-weight: @doctype-weight;
}


.tag.html,
.tag.jade,
.tag.yaml,
.tag.slim,
.tag.haml,
.tag.sugarml {
  //.test();
  color: @tag-color;
  font-style: @tag-fontstyle;
  font-weight: @tag-weight;
}

.attribute-name.html,
.attribute-name.sugarml,
.attribute-name.haskell {
  //.test();
  color: @attributename-color;
  font-style: @attributename-fontstyle;
  font-weight: @attributename-weight;
}

// .inline selects inline elements only
.inline {
  //.test();
}

// HTML
//   - Doctype
//     - color
//     - weight
//
//   - Tags
//     - color
//     - weight
//
//   - Attributes
//     - color
//     - weight
//
//   - Strings
//     - color
//     - weight
