// For git diff info. i.e. in the gutter
// SYNTAX-GIT
.markup.deleted.git_gutter {
  color: @syntax-color-removed;
}
// SYNTAX-GIT
.markup.changed.git_gutter {
  color: @syntax-color-modified;
}
// SYNTAX-GIT
.markup.inserted.git_gutter {
  color: @syntax-color-added;
}
// SYNTAX-GIT
.markup.ignored.git_gutter {
  color: @syntax-color-ignored;
}
