// MARKDOWN


// This selects everything in markdown
.gfm {
  //.test();
}



// .raw selects the `` inline code
.syntax--raw {
  //.test();
}


// .code selects the large ``` ``` code-blocks
.syntax--code {
  //.test();
}


// underlines misspelling in red
.spell-check-misspelling {
  //.test();
}


// This doesn't seem to select anything
.syntax--heading {
  color: @tag-color;
  font-style: @tag-fontstyle;
  font-weight: @tag-weight;
}

.syntax--heading-1 {}
.syntax--heading-2 {}

[class*="syntax--heading-"] {}

.syntax--unordered {}

.syntax--list {}

.syntax--hr {}


.syntax--bold {
  //.test();
  font-weight: bold;
}

.syntax--italic {
  //.test();
  font-style: italic;
}


// Preview background
.markdown-preview:not([data-use-github-style]) {
  background-color: @white;
  color: @charcoal;

  & > h1 {
    color: @charcoal;
  }

  & > h2 {
    color: @charcoal;
  }

  & > h3 {
    color: @charcoal;
  }

  & > h4 {
    color: @charcoal;
  }

  & > h5 {
    color: @charcoal;
  }

  & > h6 {
    color: @charcoal;
  }

  & > p {
    color: @charcoal;
  }

  & strong {
    color: @charcoal;
  }

  & a {
    color: @blue;
  }

  & > hr {
    border-top: 1px solid @charcoal;
  }

  & atom-text-editor {
    background-color: @fog;
  }

  & code {
    background-color: @fog;
    color: @editor-color;
  }
}
