// Only
// CSS - Selectors only

.selector,
.name.tag.css,
.name.tag.postcss,

.attribute.css,
.attribute.postcss,

.attribute-name.css,
.attribute-name.postcss,

.attribute-value.css,
.attribute-value.postcss {
  // entity other attribute-name class css
  // this will select classes in proprocessors too
  // .test();
  color: @selector-color;
  font-style: @selector-fontstyle;
  font-weight: @selector-weight;
}


// .property-list selects
//   CSS - {} and all properties and their values
//   HTML - Nothing
//   Jade - Nothing
//   JS - Nothing
//   JSON - Nothing
//   MD - Nothing
//   PHP - Nothing
//   SCSS - {} and all properties and their values
//   Stylus - {} and all properties and their values
//   Vue - {} and all properties and their values
//   YAML - Nothing
.property-list {
  // .test();
}


// .property-name selects CSS only
//   CSS - Property name
//   SCSS - Property name
//   Stylus - Property name
//   Less - Property name
.property-name {
  // .test();
  color: @propertyname-color;
  font-style: @propertyname-fontstyle;
  font-weight: @propertyname-weight;
}






// .property-value selects
//   CSS - :Values;
//   HTML - Nothing
//   Jade - Nothing
//   JS - Nothing
//   JSON - None
//   MD - None
//   PHP - Nothing
//   SCSS - :Values;
//   Stylus - :Values;
//   Vue - Nothing
//   YAML - Nothing

.constant.property-value,
.constant.css {
  // .test();
  color: @propertyvalue-color;
  font-style: @propertyvalue-fontstyle;
  font-weight: @propertyvalue-weight;
}




// .unit selects CSS only
//   CSS - em, %, px, rem etc
//   Less - em, %, px, rem etc
//   SCSS - em, %, px, rem etc
//   Stylus - em, %, px, rem etc
//   HTML - none
//   Jade - none
//   JS - none
//   JSON - none
//   MD - none
//   PHP - none
//   Vue - none
//   YAML - none

// .keyword and unit collide so both have to be specified

.keyword.unit {
  // .test();
  color: @unit-color;
  font-style: @unit-fontstyle;
  font-weight: @unit-weight;
}


// Selects pseudo-selectors
.pseudo-element.css,
.pseudo-class.css,
.pseudo-element.scss,
.pseudo-class.scss {
  //.test();
  color: @pseudo-color;
  font-style: @pseudo-fontstyle;
  font-weight: @pseudo-weight;
}
