
// .operator selects
//   SCSS - on, >, <, in, or, ==, !==
//   Stylus - in, not, or, is, +, *, ?=, and
.operator {
  //.test();
  color: @operator-color;
  font-style: normal;
  font-weight: @operator-weight;
}


// .logical selects
//   JS - !, &&, ||
.logical {
  //.test();
  color: @operator-color;
  font-style: normal;
  font-weight: @operator-weight;
}




// .typeof selects typeof in JS
.typeof {
  //.test();
  color: @operator-color;
  font-style: italic;
  font-weight: @operator-weight;
}



// .comparison selests >, <, ==, !==
.comparison {
  //.test();
  color: @operator-color;
  font-style: normal;
  font-weight: @operator-weight;
}
