// .punctuation selects
//   CSS - /**/ : ; {}
//   HTML - <></> "" '' <!-- -->
//   Jade - =
//   JS - // () {} ; / "" ''
//   JSON - {} "" , :
//   MD - [] ()
//   PHP - <?php ?> /**/ "" '' ; []
//   SCSS - @ {} . $ ;
//   Stylus - // . : "" ''
//   Vue - <> : ; "" ''
//   YAML - :

// I don't think I'll use this for any styling

.syntax--punctuation {
  // .test();
  // font-weight: bold;
}



// .syntax--separator selects
//   CSS - : ;
//   HTML - Nothing
//   Jade - =
//   JS - Nothing
//   JSON - : ,
//   MD - None
//   PHP - Nothing
//   SCSS - : ,
//   Stylus - : ,
//   Vue - Nothing
//   YAML - :

.syntax--separator {
  // .test();
  color: @punctuation-color;
  font-weight: @punctuation-weight;
}



// .terminator selects
//   CSS - ;
//   HTML - none
//   Jade - none
//   JS - ;
//   JSON - ;
//   MD - None
//   PHP - ;
//   SCSS - ;
//   Stylus - ;
//   Vue - none
//   YAML - none

.syntax--terminator {
  // .test();
  color: @punctuation-color;
  font-weight: @punctuation-weight;
}



//.delimeter selects "." and "," in JS
.syntax--delimiter {
  //.test();
  color: @punctuation-color;
  font-weight: @punctuation-weight;
}





// .assignment selects
//   JS - =
//   PHP - =
.syntax--keyword.syntax--assignment {
  //.test();
  color: @punctuation-color;
  font-weight: @punctuation-weight;
}



// .brace selects {} [] () in JS
.syntax--brace {
  //.test();
  color: @punctuation-color;
  font-weight: @punctuation-weight;
}


// .bracket selects {} () in JS
.syntax--bracket {
  //.test();
  //font-weight: bold;
}


// .curly selects {} in JS
.syntax--curly {
  //.test();
  color: @punctuation-color;
  font-weight: @punctuation-weight;
}

// .round selects round brackets
.syntax--round {
  //.test();
  color: @punctuation-color;
  font-weight: @punctuation-weight;
}


//.square selects square brackets
.syntax--square {
  //.test();
  color: @punctuation-color;
  font-weight: @punctuation-weight;
}

.syntax--section,
.syntax--definition  {
  color: @punctuation-color;
  font-weight: @punctuation-weight;
}


// This selects the angle brackes and ""  in HTML
.syntax--punctuation.syntax--definition.syntax--html,
.syntax--punctuation.syntax--definition.syntax--html {
  color: @punctuation-color;
  font-weight: @punctuation-weight;
}



// .definition selects
//   CSS - /**/ []
//   Less - // . []
//   SCSS - @ . "" ''
//   Stylus - // "" ''
//   HTML - <> ! "" '' /
//   Jade - none
//   JS - () {} // "" ''
//   JSON - {} ""
//   MD - [] ()
//   PHP - $ "" '' /**/ //
//   Vue - <> / () "" ''
//   YAML - none

// I don't think I'll use this for any styling
.syntax--definition {
  //.test();
}





// .rule selects
//   CSS - ;
//   HTML - none
//   Jade - none
//   JS - ;
//   JSON - ;
//   MD - None
//   PHP - ;
//   SCSS - ;
//   Stylus - ;
//   Vue - none
//   YAML - none

.syntax--rule {
  // .test();
}




// .key-value selects
//   CSS - :
//   HTML - Nothing
//   Jade - =
//   JS - Nothing
//   JSON - :
//   MD - None
//   PHP - Nothing
//   SCSS - :
//   Stylus - :
//   Vue - Nothing
//   YAML - :
.syntax--key-value {
  // .test();
}


// selects the "." in JS and JADE
.syntax--period {
  //.test();
}


// .comma selects commas in JS
.syntax--comma {
  //.test();
}
