// .punctuation selects
//   CSS - /**/ : ; {}
//   HTML - <></> "" '' <!-- -->
//   Jade - =
//   JS - // () {} ; / "" ''
//   JSON - {} "" , :
//   MD - [] ()
//   PHP - <?php ?> /**/ "" '' ; []
//   SCSS - @ {} . $ ;
//   Stylus - // . : "" ''
//   Vue - <> : ; "" ''
//   YAML - :

// I don't think I'll use this for any styling

.punctuation {
  // .test();
  // font-weight: bold;
}



// .separator selects
//   CSS - : ;
//   HTML - Nothing
//   Jade - =
//   JS - Nothing
//   JSON - : ,
//   MD - None
//   PHP - Nothing
//   SCSS - : ,
//   Stylus - : ,
//   Vue - Nothing
//   YAML - :

.separator {
  // .test();
  color: @punctuation-color;
  font-weight: @punctuation-weight;
}



// .terminator selects
//   CSS - ;
//   HTML - none
//   Jade - none
//   JS - ;
//   JSON - ;
//   MD - None
//   PHP - ;
//   SCSS - ;
//   Stylus - ;
//   Vue - none
//   YAML - none

.terminator {
  // .test();
  color: @punctuation-color;
  font-weight: @punctuation-weight;
}



//.delimeter selects "." and "," in JS
.delimiter {
  //.test();
  color: @punctuation-color;
  font-weight: @punctuation-weight;
}





// .assignment selects
//   JS - =
//   PHP - =
.keyword.assignment {
  //.test();
  color: @punctuation-color;
  font-weight: @punctuation-weight;
}



// .brace selects {} [] () in JS
.brace {
  //.test();
  color: @punctuation-color;
  font-weight: @punctuation-weight;
}


// .bracket selects {} () in JS
.bracket {
  //.test();
  //font-weight: bold;
}


// .curly selects {} in JS
.curly {
  //.test();
  color: @punctuation-color;
  font-weight: @punctuation-weight;
}

// .round selects round brackets
.round {
  //.test();
  color: @punctuation-color;
  font-weight: @punctuation-weight;
}


//.square selects square brackets
.square {
  //.test();
  color: @punctuation-color;
  font-weight: @punctuation-weight;
}

.section,
.definition  {
  color: @punctuation-color;
  font-weight: @punctuation-weight;
}


// This selects the angle brackes and ""  in HTML
.punctuation.definition.html,
.punctuation.definition.html {
  color: @punctuation-color;
  font-weight: @punctuation-weight;
}



// .definition selects
//   CSS - /**/ []
//   Less - // . []
//   SCSS - @ . "" ''
//   Stylus - // "" ''
//   HTML - <> ! "" '' /
//   Jade - none
//   JS - () {} // "" ''
//   JSON - {} ""
//   MD - [] ()
//   PHP - $ "" '' /**/ //
//   Vue - <> / () "" ''
//   YAML - none

// I don't think I'll use this for any styling
.definition {
  //.test();
}







// .terminator selects
//   CSS - ;
//   HTML - none
//   Jade - none
//   JS - ;
//   JSON - ;
//   MD - None
//   PHP - ;
//   SCSS - ;
//   Stylus - ;
//   Vue - none
//   YAML - none

.terminator {
  // .test();
}





// .rule selects
//   CSS - ;
//   HTML - none
//   Jade - none
//   JS - ;
//   JSON - ;
//   MD - None
//   PHP - ;
//   SCSS - ;
//   Stylus - ;
//   Vue - none
//   YAML - none

.rule {
  // .test();
}




// .key-value selects
//   CSS - :
//   HTML - Nothing
//   Jade - =
//   JS - Nothing
//   JSON - :
//   MD - None
//   PHP - Nothing
//   SCSS - :
//   Stylus - :
//   Vue - Nothing
//   YAML - :
.key-value {
  // .test();
}
