// These are already being styled by the punctuation class


// .quoted selects anything in double or single quotes including the quotation marks

.syntax--string {
  &.syntax--quoted {
    //.test();
    color: @string-color;
    font-style: @string-fontstyle;
    font-weight: @string-weight;
  }


  // .double selects anything in double quotes including the quotation marks
  &.syntax--double {
    //.test();
    color: @string-color;
    font-style: @string-fontstyle;
    font-weight: @string-weight;
  }


  // .single selects anything in single quotes including the quotation marks
  &.syntax--single {
    //.test();
    color: @string-color;
    font-style: @string-fontstyle;
    font-weight: @string-weight;
  }

  &.syntax--unquoted {
    color: @editor-color;
    font-style: normal;
    font-weight: normal;
  }
}


// Not all syntaxes let you select the quotation marks alone
.syntax--punctuation.syntax--definition.syntax--string.syntax--begin,
.syntax--punctuation.syntax--definition.syntax--string.syntax--end  {
  color: @quotationmark-color;
  font-weight: @quotationmark-weight;
}
