// These are already being styled by the punctuation class


// .quoted selects anything in double or single quotes including the quotation marks

.string {
  &.quoted {
    //.test();
    color: @string-color;
    font-style: @string-style;
    font-weight: @string-weight;
  }


  // .double selects anything in double quotes including the quotation marks
  &.double {
    //.test();
    color: @string-color;
    font-style: @string-style;
    font-weight: @string-weight;
  }


  // .single selects anything in single quotes including the quotation marks
  &.single {
    //.test();
    color: @string-color;
    font-style: @string-style;
    font-weight: @string-weight;
  }

  &.unquoted {
    color: @editor-text-color;
    font-style: normal;
    font-weight: normal;
  }
}


// Not all syntaxes let you select the quotation marks alone
.punctuation.definition.string.begin,
.punctuation.definition.string.end  {
  color: @quotation-mark-color;
  font-weight: @quotation-mark-weight;
}
