
// i'm not sure. this looks like it selects RegEx stuff
.quantifier {
  //.test();
}


// selects regular expression in JS
.syntax--regexp,
.syntax--regexp.syntax--range,
.syntax--regexp.syntax--string {
  //.test();
  color: @regex-color;
  font-style: @regex-fontstyle;
  font-weight: @regex-weight;
}
