
// i'm not sure. this looks like it selects RegEx stuff
.quantifier {
  //.test();
}


// selects regular expression in JS
.regexp,
.regexp.range,
.regexp.string {
  //.test();
  color: @regex-color;
  font-style: @regex-fontstyle;
  font-weight: @regex-weight;
}
