// .storage selects
//   CSS - none
//   Less - none
//   SCSS - none
//   Stylus - none
//   HTML - none
//   Jade - variable name and assignment
//   JS - function, var, const, let, =>
//   JSON - none
//   MD - snippets inside ``` ``` blocks
//   PHP - class, private, public, function keywords
//   Vue - none
//   YAML - none
.syntax--storage,
// Sass gets this wrong
.syntax--variable,
.syntax--variable.syntax--php,
.syntax--storage.syntax--type.syntax--class,
.syntax--interpolation,
.syntax--keyword.syntax--control.syntax--clojure,
.syntax--meta.syntax--symbol.syntax--clojure,
.syntax--keyword.syntax--declaration.syntax--scala,
.syntax--keyword.syntax--other.syntax--namespace,
.syntax--storage.syntax--type.syntax--data.syntax--haskell {

  //.test();
  color: @storage-color;
  font-style: @storage-fontstyle;
  font-weight: @storage-weight;
}


.symbol {
  //.test();
}

// This is a fix for Sass
.syntax--variable > .syntax--string.syntax--scss {
  color: @editor-color;
}



// Storage modifier - const extends static
.syntax--storage.syntax--modifier,
.syntax--keyword.syntax--declaration.syntax--swift {
  color: @storagemodifier-color;
  font-style: @storagemodifier-fontstyle;
  font-weight: @storagemodifier-weight;
}

// Selects var and let keyword JS and Jade
.var {
  //.test();
}
