@import 'colors';

// Editor styles
@editor-textcolor: @charcoal;
@editor-backgroundcolor: @graphite;


// Comment styles
@comment-textcolor: @lead;
@comment-textstyle: normal;


// Pacman cursor style
@cursor-style: pacman;
@cursor-color: @gold;
@cursor-shadow: @charcoal;


// Gutter style
@gutter-background: @editor-backgroundcolor;
@gutter-textcolor: @editor-textcolor;


// Current line background-color and
// line number gutter background-color
@linenos-selection: @slime;


// Folded code style
@folded-codecolor: @magenta;


// Bracket matcher style
@bracketmatcher-background: @magenta;


// Indent line color style
@indentguide-linecolor: @white;



// .keyword selects
//   CSS - %, em, px, rem
//   SCSS - @return @if !default, all @ based keywords
//   stylus - if, to, from, =, px, rem, return, unless ?=, +, @media
//   JS - new, !, !!, import, return, +, :, typeof, switch, case, etc
//   PHP - switch, case, if, return, else, ->, endif, while, endwhile
// @keyword-color: @editor-textcolor;
// @keyword-style: normal;
// @keyword-weight: normal;


// CSS ONLY --------------------------

// .selector selects - CSS only
@selector-color: @editor-textcolor;
@selector-fontstyle: normal;
@selector-weight: bold;


// .property-name selects - CSS only
@propertyname-color: @editor-textcolor;
@propertyname-fontstyle: normal;
@propertyname-weight: normal;


// .property-value selects - CSS only
@propertyvalue-color: @editor-textcolor;
@propertyvalue-fontstyle: normal;
@propertyvalue-weight: normal;


// Selects pseudo-selectors
@pseudo-color: @editor-textcolor;
@pseudo-fontstyle: normal;
@pseudo-weight: normal;


// .unit selects CSS only
//   CSS - em, %, px, rem etc
//   Less - em, %, px, rem etc
//   SCSS - em, %, px, rem etc
//   Stylus - em, %, px, rem etc
@unit-color: @editor-textcolor;
@unit-fontstyle: normal;
@unit-weight: normal;


// HTML ONLY --------------------------

// Doctyle style
@doctype-color: @editor-textcolor;
@doctype-fontstyle: normal;
@doctype-weight: normal;


// Tag color - block and inline elements
@tag-color: @editor-textcolor;
@tag-fontstyle: normal;
@tag-weight: normal;


// Attribute style
@attributename-color: @editor-textcolor;
@attributename-fontstyle: normal;
@attributename-weight: normal;


// Programming ONLY --------------------------

// .class selects
//   CSS - classes
//   Less - classes
//   SCSS - classes
//   Stylus - classes
//   HTML - src="", stuff between script tag
//   Jade - classes
//   JS - classes
//   JSON - none
//   MD - snippets inside ``` ``` blocks
//   PHP - classes
//   Vue - none
//   YAML - none
@class-color: @editor-textcolor;
@class-fontstyle: normal;
@class-weight: normal;


// .storage selects
//   CSS - none
//   Less - none
//   SCSS - none
//   Stylus - none
//   HTML - src="", stuff between script tag
//   Jade - variable name and assignment
//   JS - function, var, const, let, =>
//   JSON - none
//   MD - snippets inside ``` ``` blocks
//   PHP - class, private, public, function keywords
//   Vue - none
//   YAML - none
@storage-color: @editor-textcolor;
@storage-fontstyle: normal;
@storage-weight: normal;


// storage modifier - const extends static
@storagemodifier-color: @editor-textcolor;
@storagemodifier-fontstyle: normal;
@storagemodifier-weight: normal;


// . , : "" '' / {} [] () ;
@punctuation-color: @editor-textcolor;
@punctuation-fontstyle: normal;
@punctuation-weight: bold;

// Punctuation styles are all set to the above

// // : and ; outside of JS
// @separator-color: @editor-textcolor;
// @separator-weight: normal;
//
// // , and . in JS
// @delimeter-color: @editor-textcolor;
// @delimeter-weight: normal;
//
// // ;
// @terminator-color: @editor-textcolor;
// @terminator-weight: normal;

// >< ""
// @punctuation-html-color: @editor-textcolor;
// @punctuation-html-style: normal;
// @punctuation-html-weight: normal;


// Control - return, if, else, case, switch, die, break, while, import, from
@control-color: @editor-textcolor;
@control-style: normal;
@control-weight: normal;


// strings
@string-color: @editor-textcolor;
@string-style: italic;
@string-weight: normal;


// Style quotation marks
// not all syntaxes let you style the quotation marks!
@quotationmark-color: @editor-textcolor;
@quotationmark-weight: bold;


// Operator - + - / * == === !==
@operator-color: @editor-textcolor;
@operator-style: normal;
@operator-weight: bold;


// Number - + - / * == === !==
@number-color: @editor-textcolor;
@number-style: normal;
@number-weight: normal;


// Function name
@functionname-color: @editor-textcolor;
@functionname-style: normal;
@functionname-weight: normal;


// instance
@instance-color: @editor-textcolor;
@instance-style: normal;
@instance-weight: normal;


// constructor
@constructor-color: @editor-textcolor;
@constructor-style: normal;
@constructor-weight: normal;


// regex string
@regex-color: @editor-textcolor;
@regex-style: normal;
@regex-weight: normal;


// GIT gutter - line added
@gitgutter-lineaddedcolor: @slime;


// GIT gutter - line modified
@gitgutter-linemodifiedcolor: @gold;


// GIT gutter - line removed
@gitgutter-lineremovedcolor: @red;
