// All of these select the same thing

// .markup selects
//   URLS starting with http
//   MD - all markdown syntax #, ###, ``, **
.markup {
  // .test();
}


// .underline selects all URLs starting with http
.underline {
  //. test();
}


// .syntax--link selects all URLs starting with http
.syntax--link {
  //. test();
  color: @string-color;
  font-style: @string-fontstyle;
  font-weight: @string-weight;
}


// .http selects all URLs starting with http
.syntax--http {
  //. test();
  color: @string-color;
  font-style: @string-fontstyle;
  font-weight: @string-weight;
}


// .hyperlink selects all URLs starting with http
.syntax--hyperlink {
  //.test();
  color: @string-color;
  font-style: @string-fontstyle;
  font-weight: @string-weight;
}


// im seeing this in jade paths
.syntax--control.syntax--import.syntax--include {
  //.test();
  color: @string-color;
  font-style: @string-fontstyle;
  font-weight: @string-weight;
}
