@editor-background: rgba(204, 204, 204, 1);
@editor-text-color: rgba(51, 51, 51, 1);
@comment-text-color: rgba(153, 153, 153, 1);
@comment-text-style: normal;
@cursor-color: rgba(255, 213, 0, 1);
@cursor-shadow: rgba(51, 51, 51, 1);
@gutter-background: rgba(204, 204, 204, 1);
@gutter-text-color: rgba(51, 51, 51, 1);
@folded-code-color: rgba(255, 0, 255, 1);
@linenos-selection: rgba(0, 255, 102, 1);
@bracket-matcher-background: rgba(255, 0, 255, 1);
@indent-line-color: rgba(255, 255, 255, 1);
@separator-color: rgba(51, 51, 51, 1);
@separator-weight: normal;
@delimiter-color: rgba(51, 51, 51, 1);
@delimiter-weight: normal;
@terminator-color: rgba(51, 51, 51, 1);
@terminator-weight: normal;
@keyword-color: rgba(51, 51, 51, 1);
@keyword-style: normal;
@keyword-weight: normal;
@selector-color: rgba(51, 51, 51, 1);
@selector-style: normal;
@selector-weight: normal;
@property-name-color: rgba(51, 51, 51, 1);
@property-name-style: normal;
@property-name-weight: normal;
@property-value-color: rgba(51, 51, 51, 1);
@property-value-style: normal;
@property-value-weight: normal;
@unit-color: rgba(51, 51, 51, 1);
@unit-style: normal;
@unit-weight: normal;
@pseudo-color: rgba(51, 51, 51, 1);
@pseudo-style: normal;
@pseudo-weight: normal;