@editor-backgroundcolor: rgba(253, 222, 218, 1);
@editor-color: rgba(89, 35, 36, 1);
@gutter-backgroundcolor: rgba(254, 222, 218, 1);
@gutter-color: rgba(88, 36, 37, 1);
@gutter-value: 30;
@gutter-punk: hellyeah;
@selectedline-backgroundcolor: rgba(0, 243, 178, 1);
@selectedline-backgroundguttercolor: rgba(255, 100, 92, 1);
@cursor-style: pacman;
@cursor-color: rgba(255, 213, 0, 1);
@cursor-shadow: rgba(51, 51, 51, 1);
@indentguide-linecolor: rgba(255, 255, 255, 1);
@indentguide-value: 0;
@folded-codecolor: rgba(255, 0, 255, 1);
@bracketmatcher-backgroundcolor: rgba(255, 251, 0, 1);
@comment-color: rgba(230, 144, 134, 1);
@comment-fontstyle: italic;
@comment-value: 0;
@selector-color: rgba(192, 42, 67, 1);
@selector-fontstyle: normal;
@pseudo-color: rgba(88, 36, 37, 1);
@pseudo-fontstyle: normal;
@pseudo-weight: normal;
@selector-weight: bold;
@propertyname-color: rgba(1, 139, 141, 1);
@propertyname-fontstyle: normal;
@propertyname-weight: normal;
@propertyvalue-color: rgba(88, 36, 37, 1);
@propertyvalue-fontstyle: normal;
@propertyvalue-weight: normal;
@unit-color: rgba(88, 36, 37, 1);
@unit-fontstyle: normal;
@unit-weight: normal;
@number-color: rgba(0, 145, 147, 1);
@number-fontstyle: normal;
@number-weight: normal;
@punctuation-color: rgba(0, 145, 147, 1);
@punctuation-weight: bold;
@doctype-color: rgba(0, 145, 147, 1);
@doctype-fontstyle: normal;
@doctype-weight: bold;
@tag-color: rgba(192, 43, 68, 1);
@tag-fontstyle: normal;
@tag-weight: bold;
@attributename-color: rgba(192, 43, 68, 1);
@attributename-fontstyle: normal;
@attributename-weight: bold;
@quotationmark-color: rgba(218, 58, 88, 1);
@quotationmark-weight: bold;
@string-color: rgba(247, 100, 126, 1);
@string-fontstyle: italic;
@string-weight: normal;
@storage-color: rgba(88, 36, 37, 1);
@storage-fontstyle: normal;
@storage-weight: bold;
@storagemodifier-color: rgba(88, 36, 37, 1);
@storagemodifier-fontstyle: normal;
@storagemodifier-weight: bold;
@operator-color: rgba(146, 144, 0, 1);
@operator-weight: bold;
@functionname-color: rgba(218, 58, 88, 1);
@functionname-fontstyle: normal;
@functionname-weight: bold;
@consolelog-color: rgba(255, 38, 0, 1);
@consolelog-fontstyle: normal;
@consolelog-weight: normal;
@class-color: rgba(146, 144, 0, 1);
@class-fontstyle: normal;
@class-weight: normal;
@instance-color: rgba(122, 129, 255, 1);
@instance-fontstyle: normal;
@instance-weight: normal;
@regex-color: rgba(146, 144, 0, 1);
@regex-fontstyle: normal;
@regex-weight: normal;
@control-color: rgba(0, 145, 147, 1);
@control-fontstyle: normal;
@control-weight: normal;
@constant-color: rgba(146, 144, 0, 1);
@constant-weight: normal;
@boolean-color: rgba(146, 144, 0, 1);
@boolean-fontstyle: italic;
@boolean-weight: normal;
@module-color: rgba(239, 89, 131, 1);
@module-fontstyle: normal;
@module-weight: bold;
@namespace-color: rgba(0, 145, 147, 1);
@namespace-fontstyle: normal;
@namespace-weight: normal;
@type-color: rgba(88, 36, 37, 1);
@type-fontstyle: normal;
@type-weight: bold;
@identifier-color: rgba(88, 36, 37, 1);
@identifier-fontstyle: normal;
@identifier-weight: normal;
@gitgutter-lineaddedcolor: rgba(0, 255, 102, 1);
@gitgutter-linemodifiedcolor: rgba(255, 213, 0, 1);
@gitgutter-lineremovedcolor: rgba(255, 0, 0, 1);