// Not sure what these classes do

.highlights {
  background-color: white;
}



// These don't seem to be stylable
.cursors {
  // .test();
}
.blink-off {
  // .test();
}
.cursor {
  // .test();
}
.above-editor-content {
  // .test();
}
.wrap-guide {
  // .test();
}



// .other selects
//   CSS - em, %, px, pseudo-selector
//   Less - selector
//   SCSS - selector, variable, em, pm, %, !default
//   Stylus - dot notation, px, em, %, is, in to, from
//   HTML - attribute names, <main>, <svg> with nested elments
//   Jade - doctype, attribute names
//   JS - named imports, exports and consts
//   JSON - none
//   MD - none
//   PHP - variables names, new keywrods
//   Vue - template tags, export keyword
//   YAML - none

.other {
  // .test();
}





// .embedded selects
//   CSS - none
//   Less - none
//   SCSS - none
//   Stylus - none
//   HTML - src="", stuff between script tag
//   Jade - variable name and assignment
//   JS - Interpolation
//   JSON - none
//   MD - snippets inside ``` ``` blocks
//   PHP - ALL php syntax
//   Vue - none
//   YAML - none

.embedded {
  // .test();
}






// I don't need to style this
.region {
  //.test();
}



// This seems a little sloppy. It gets attributes names in HTML, but it selects
// class names in CSS
.attribute-name {
  //.test();
}







.search-results {
  .marker {
    // XXX unclear
    .region {
      background-color: transparent;
      border: blue;
    }
    // XXX unclear
    &.current-result .region {
      border: indigo;
    }
  }
}
